{% extends "base.html" %}
{% block title %} Welcome to Global Feeds  {% endblock %}
{% block bodycontent %}
    	<div class="three_column margin_r35 vertical_divider">
    		{% set news =  some_variable|get_RSS(names[0]) %}
    		<h2 class="title">{{ news.titulo }}</h2>
    		{% for item in news.noticias[:5] %}
			    <div class="news_box">
					<div class="date">
						{% if item.updated %}
							{{ item.updated.strftime('%d/%m/%Y - %H:%M') }}
						{% endif %}
					</div>
			        <p><a href="{{ item.url }}" target="_blank">
			        	{% autoescape off %}
			        		{{ item.title }}
			        	{% endautoescape %}
			        </a></p>
			        {% autoescape off %}
	    				<p>{{ item.summary }}</p>
					{% endautoescape %}
			    </div>
			    <div class="cleaner-both"></div>
		    {% endfor %}            
        </div>
  		<div class="three_column margin_r35 vertical_divider">
			{% set news =  some_variable|get_RSS(names[1]) %}
    		<h2 class="title">{{ news.titulo }}</h2>
    		{% for item in news.noticias[:5] %}
			    <div class="news_box">
					<div class="date">
						{% if item.updated %}
							{{ item.updated.strftime('%d/%m/%Y - %H:%M') }}
						{% endif %}
					</div>
			        <p><a href="{{ item.url }}" target="_blank">
			        	{% autoescape off %}
			        		{{ item.title }}
			        	{% endautoescape %}
			        </a></p>
			        {% autoescape off %}
	    				<p>{{ item.summary }}</p>
					{% endautoescape %}
			    </div>
			    <div class="cleaner-both"></div>
		    {% endfor %}

        </div>
        <div class="three_column">
        	{% set news =  some_variable|get_RSS(names[2]) %}
    		<h2 class="title">{{ news.titulo }}</h2>
    		{% for item in news.noticias[:5] %}
			    <div class="news_box">
					<div class="date">
						{% if item.updated %}
							{{ item.updated.strftime('%d/%m/%Y - %H:%M') }}
						{% endif %}
					</div>
			        <p><a href="{{ item.url }}" target="_blank">
			        	{% autoescape off %}
			        		{{ item.title }}
			        	{% endautoescape %}
			        </a></p>
			        {% autoescape off %}
	    				<p>{{ item.summary }}</p>
					{% endautoescape %}
			    </div>
			    <div class="cleaner-both"></div>
		    {% endfor %}
        	
        </div>
        <div class="cleaner"></div>
{% endblock %}
