	<ul>
	    <li><a href="/" class="{% if some_variable|get_menu('/') %}current{% endif %}">Home</a></li>
	    <li><a href="/news/uol" class="{% if some_variable|get_menu('/news/uol') %}current{% endif %}">
	    	Noticias UOL</a></li>
	    <li><a href="/news/terra" class="{% if some_variable|get_menu('/news/terra') %}current{% endif %}">
	    	Noticias Terra</a></li>
	    <li><a href="/news/g1" class="{% if some_variable|get_menu('/news/g1') %}current{% endif %}">
	    	Noticias G1</a></li>
	    <li><a href="/news/r7" class="{% if some_variable|get_menu('/news/r7') %}current{% endif %}">
	    	Noticias R7</a></li>
	    <li><a href="/news/band" class="{% if some_variable|get_menu('/news/band') %}current{% endif %}">
	    	Noticias Band</a></li>
	</ul>   